
* {
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto";
  font-style: normal;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #D9D9D9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

body{
  background: rgb(36, 36, 36);
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dropList{
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.form__group {
  height: 42px;
}

.dropdown {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: relative;
  width: 217px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}


.dropdown__button {
  display: block;
  width: 100%;
  text-align: left;
  background: #FFFFFF;
  padding: 13px 10px 12px;
  border: 1px solid #DFDFDF;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}



.dropdown__arrow {
  position: absolute;
  right: 16px;
  top: 20px;
  pointer-events: none;
}
.dropdown__arrow180{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.dropdown__list {
  border: 1px solid #DFDFDF;
  height: fit-content;
  z-index: 2;
  display: none;
  position: absolute;
  left: 0px;
  top: 32px;
  background: #FFFFFF;
  width: 100%;
  padding: 12px 0 10px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}


.dropdown__list .dropdown__lists {
  border-top: 1px solid #DFDFDF;
  overflow-y: scroll;
  max-height: 250px;
  height: fit-content;
  width: 211px;
  margin: 0 0 0 0;

}


.dropdown__list--visible {
  display: block;

}

.dropdown__list-item {
  margin: 0;
  color: #419EF4;
  padding: 7px 10px;
  border-bottom: 0px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dropdown__list-item:first-child {
  margin-top: 0px;
}

.dropdown__list-item:hover {
  background: #F6F6F6;
}

.dropdown__input-hidden {
  display: none;
}